<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Faulknerbot</title>

	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
		<link rel='stylesheet prefetch' href="{{ url_for('static', filename='js/jquery.mCustomScrollbar.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100" rel="stylesheet">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108644105-2"></script>
		<script type="text/javascript">
			var jq311 = $.noConflict(true);
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-108644105-2');
			$('#myModal').on('shown.bs.modal', function () {
				$('#myInput').trigger('focus')
			});
			(function(){
				document.location = 
					'data:text/attachment;base64,' +
					utf8_to_b64(document.getElementsById('page_body').innerHTML);
						//utf8_to_b64(document.documentElement.innerHTML); //To Download Entire Html Source
			})();			
			function utf8_to_b64( str ) {
			  return window.btoa(unescape(encodeURIComponent( str )));
			}
			</script>
	</head>
	<body onload="init()" id="page_body">
			<!--nav-->
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" onclick="return confirm('By refreshing this page, you will lose your current conversation.');" href="/">
							<img src="static/res/typewriter.png" width="30" height="30" class="d-inline-block align-top" alt="Faulknerbot Logo">
						Faulknerbot</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
					  <ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link"  href="#" data-toggle="modal" data-target="#about">About </a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" onclick="$(this).attr('href', 'data:text/plain;base64,' + utf8_to_b64($('html').clone().find('#generate').remove().end()[0].outerHTML));" download="faulknerbot.html" id="generate" href="#">Save </a>
						</li>
						<li class="nav-item">
								<a class="nav-link" onclick="return confirm('By refreshing this page, you will lose your current conversation.');" href="/">Restart </a>
							</li>
						<li class="nav-item">
							<a class="nav-link" href="mailto:mauro@psu.edu?Subject=Faulknerbot Contact"><i class="far fa-envelope"></i> </a>
						</li>
						<li class="nav-item">
								<a class="nav-link" target="_blank" href="https://twitter.com/onthename"><i class="fab fa-twitter"></i> </a>
						</li>
						<li class="nav-item">
								<a class="nav-link" target="_blank" href="https://github.com/aaronmauro/"><i class="fab fa-github"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link"  href="#" data-toggle="modal" data-target="#question"><i class="fas fa-question"></i> </a>
						</li>
					  </ul>
					</div>
				</nav><!--END nav-->
				<br>
	<!--chat-->
	<div class="chat">
			<div class="chat-title">
				<h1>Faulknerbot</h1>
				<h2>Ask Me Anything</h2>
				<figure class="avatar">
				<img src="static/res/botim.png" alt="Faulknerbot"/></figure>
			</div>
		<div class="messages">
			<div class="clickable">
				<div id="save_box" class="messages-content"></div>
			</div>
		</div>
		<div class="message-box">
			<textarea type="text" class="message-input" placeholder="Type message..."></textarea>
			<button type="submit" class="message-submit">Send</button>
		</div>
	</div><!--END chat-->
	<!-- About Modal -->
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="about">About Faulknerbot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
					<img class="card-img-top" src="{{ url_for('static', filename='res/faulknerbot.jpg') }}" alt="Card image cap">
					<div class="card-body">
					<p class="card-text">Faulknerbot chatbot built with AIML (Artificial Intelligence Markup Language) and PyAIML. Conversational data retrieval is rapidly replacing keyword search on mobile devices. Faulknerbot allows users to discover content through natural language dialogue and be directed to original sources. The archival training data is available on the <a target="_blank" href="http://faulkner.lib.virginia.edu/">Faulkner at Virginia Audio Archive</a> site.</p>

					<p class="card-text">Dr. Aaron Mauro is Assistant Professor of Digital Humanities and English at Penn State. He is the director of the <a target="_blank" href="http://sites.psu.edu/psudhlab/">Penn State Digital Humanities Lab</a> and co-chair of the <a target="_blank" href="http://sites.psu.edu/diglibarts/">Digital Liberal Arts Initiative</a>. He teaches on topics relating to digital culture, computational text analysis, and scholarly communication. </p>

					<p>Listen to Faulkner discuss the word "bot": </p>
					<audio controls>
						<source src="{{ url_for('static', filename='res/bot_out_of_the_woods.ogg') }}" type="audio/ogg">
						<source src="{{ url_for('static', filename='res/bot_out_of_the_woods.mp3') }}" type="audio/mpeg">
						<source src="{{ url_for('static', filename='res/bot_out_of_the_woods.wav') }}" type="audio/wav">
							Your browser does not support HTML audio tags.
					</audio>

					<p class="card-text"><small class="text-muted"><a target="_blank" href="http://sites.psu.edu/aaronmauro">Learn more!</a></small></p>

					</div>
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!--END About modal-->
	<!-- Question Modal -->
<div class="modal fade" id="question" tabindex="-1" role="dialog" aria-labelledby="how to use" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="how to use">How to use</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<p>Faulknerbot is easy to use. Just chat with him! If you discover results you find interesting, just click the text box to search the interview archive. Faulknerbot will fetch results from archival sources and return a link and quote. When you are finished, click <i>save</i> to recieve a plain HTML version of your chat along with the source links!</p>
				<p>Faulknerbot is still underdevelopment. Please be patient with him. If longer questions are not returning results you'd like, please try specific keywords. Also try the following examples to get started:</p>
				<ul>
					<li>"What are your favorite books?"</li>
					<li>"Why did you use stream of consciousness?"</li>
					<li>"Do you strive for objectivity?"</li>
					<li>"Tell me about the south."</li>
					<li>"Tell me about Supten."</li>
				</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!--END Question modal-->

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="/static/js/jquery-latest.js"></script>
		<script src='/static/js/jquery.min.js'></script>
		<script src='/static/js/jquery.mCustomScrollbar.concat.min.js'></script>
		<script src="static/js/index.js"></script>
	</body>
</html>